<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='globals.css') }}" />
    <link rel="stylesheet" href="C:\Users\shali\OneDrive\Desktop\LifeLoom\static\globals.css" />
    <link rel="stylesheet" href="C:\Users\shali\OneDrive\Desktop\LifeLoom\static\style.css" />
 

    <title>Exersice</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">LifeLoom</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Exersice</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/calculator">Calculator</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/guidance">Guide</a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Link
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Link</a>
              </li>
            </ul> -->
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>

      
      <div class="testing-page">
        <div class="div">
          <div class="overlap">
            <div class="text-wrapper">Walking</div>
            <p class="p">
              Start with a daily brisk walk for at least 30 minutes. You can gradually increase your pace and time as you
              become more comfortable.
            </p>
            <img class="rectangle" src="{{ url_for('static', filename='rectangle-9.svg') }}" />
          </div>
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <div class="rectangle-4"></div>
          <div class="overlap-group">
            <img class="rectangle" src="{{ url_for('static', filename='rectangle-10.svg') }}" />
            <div class="text-wrapper-2">Cycling</div>
            <p class="text-wrapper-3">
              Riding a bicycle is a low-impact exercise that&#39;s great for beginners. It&#39;s easy on the joints and
              helps burn calories.
            </p>
          </div>
          <div class="overlap-2">
            <div class="text-wrapper-4">Bodyweight Exercises</div>
            <img class="rectangle" src="{{ url_for('static', filename='rectangle-12.svg') }}" />
            <p class="these-exercises-use">
              These exercises use your body&#39;s weight for resistance. Start with simple exercises like squats, lunges,
              push-ups, and planks. Aim for 3 sets of 10-12 reps.
            </p>
          </div>
          <div class="overlap-3">
            <div class="text-wrapper-5">Swimming</div>
            <img class="rectangle" src="{{ url_for('static', filename='rectangle-11.svg') }}" />
            <p class="text-wrapper-3">
              Swimming is a full-body workout that is gentle on the joints. It&#39;s excellent for burning calories and
              improving cardiovascular health.
            </p>
          </div>
        </div>
      </div>


 

        
 
        

   
      
    <!-- <h1>Hello, world!</h1> -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>